/DolarMoney/bin
/DolarMoney/obj
/DolarMoney.DAO/bin
/DolarMoney.DAO/obj
/DolarMoney.PTAX
/DolarMoney.Regras/bin
/DolarMoney.Regras/obj
/DolarMoney.ViewModel/bin
/DolarMoney.ViewModel/obj
/Investing
/Scripts